@charset "utf-8";
/* CSS Document */

h1,
h2,
h3,
h4,
h5,
h6 {
     margin:0px;
     font-family: 'Alatsi', sans-serif;

}

p{
     font-family: 'Source Sans Pro', sans-serif;
     color:#000000;}



body{
     margin: 0 auto;
     background:#ffffff;
     text-decoration:none;
     color:#484848;
     line-height:22px;
    font-family: 'Source Sans Pro', sans-serif; 
}


/*HOME*/
#home_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:url(../images/bg.jpg) repeat;
}

#home_inner{
     width:1200px;
     min-height:474px;
    /* min-height:500px;*/
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
}

#home_prodectlistbg{
     width:24.5%;
     float:left;
     height:auto;
     min-height:848px;
     background:#ffffff;
     margin-bottom:20px;
     margin-top:15px;
     border:1px solid #d9d9d9;

}

#home_contentrapper{
     width:74%;
     float:right;
     min-height:400px;
     height:auto;
     margin-bottom:15px;
     margin-top:15px;
}

#home_prodectlistbg h2{
     background:#d82422;
     float:left;
     text-align:center;
     color:#FFF;
     font-size:17px;
     font-weight:500;
     width:100%;
     padding:8px 0px;
     text-transform:uppercase;
     font-family: 'Alatsi', sans-serif;
     font-weight:bold;

}


#home_bannerbg{
     width:100%;
     float:left;
     height:auto;
     background:#1f587b;

}
.bannerbg{
     float:left;
     width:100%;
}


#home_productbg{
     width:100%;
     float:left;
     min-height:400px;
     height:auto;
     margin-top:15px;
     background:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
}
.pro_list{
     float:left;
     width:100%;
     padding-bottom:0px;
}

.pro_dispaly{
     display:none !important;
}


.product_listbg{
     width:29%;
     height:auto;
     float:left;
     background:#FFFFFF;
     border:1px solid #e8e8e8;
     margin:0px 2% 20px 2%;
}
.product_listimage{
     width:100%;
     height:180px;
     float:left;
     background:#FFF;
     text-align:center;
}
.product_listimage img{
     max-width:100%;
     height:180px;
}
.product_listdes{
     width:100%;
     height:90px;
     float:left;
     background:#f0f0f0;
     color:#343434;
}
.product_listview{
     padding:6px 0px;
     width:40%;
     float:left;
     background:#2e7db6;
     font-size:15px;
     text-align:center;
     text-decoration:none;
     color:#FFF;
}
.product_listview:hover{
     color:#000;
}
.product_listcart{
     width:59.5%;
     float:right;
     background:#db2523;
     font-size:15px;
     text-align:center;
     text-decoration:none;
     color:#FFF;
     padding:6px 0px;
}
.product_listcart:hover{
     background:#000000;
}
.product_no{
     color:#F00;
     float:left;
     margin-top:6px;
     margin-left:6%;
     font-size:15px;
     width:100%;
     line-height: 17px;
}
.product_name{
     color:#343434;
     float:left;
     margin-top:4px;
     margin-left:6%;
     font-size:15px;
     line-height:16px;
}


#home_productbg h1{
     float:left;
     text-align:left;
     color:#656565;
     font-size:26px;
     text-transform:uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding:7px 0px;
     line-height:30px;
     font-weight:bold;
     margin-bottom:10px;
     margin-left:2%;
     margin-top:10px;
}

.home_view{
     float:right;
     margin-right:2%;
     margin-top:15px;
     color:#FFFFFF;
     background:#db2523;
     text-decoration:none;
     font-size:13px;
     font-family: 'Source Sans Pro', sans-serif;
     padding:2px 13px; 
}
.home_view:hover{
     background:#000;
}


/*WELCOME*/
#welcome_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:50px 0px;
     margin:0px;
     background:#f5f5f5;
}
#hwelcome_inner{
     width:1200px;
     min-height:100px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
}
.welcomeinnerbg{
     float:left;
     width:35%;
     margin-top:20px;
}
#hwelcome_inner h1{
     float:left;
     text-align:left;
     color:#000000;
     font-size:23px;
     text-transform:uppercase;
     font-family: 'Alatsi', sans-serif;
     float:left;
     padding:7px 0px;
     line-height:25px;
     font-weight:bold;
     margin-bottom:10px;
     border-bottom:2px solid #656565;
}

#hwelcome_inner p{
     font-family: 'Source Sans Pro', sans-serif;
     font-size:15px;
     text-align:justify;
     line-height:23px;
     color:#3e3e3e;
     float:left;
}

.welcomemore{
     float:left;
     text-decoration:none;
     color:#e20412;
     font-size:13px;
     margin-top:5px;
     margin-bottom:5px;
     font-family: 'Source Sans Pro', sans-serif;
}

.welcomemore:hover{
     color: #000;
}


.haboutimg{
     float:left; 
     margin-top:20px; 
     margin-right:3.5%; 
}


/*Shop By BRAND*/
#home_brand_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFF;
}
#home_brand_inner{
     width:1200px;
     min-height:100px;
     height:auto;
     padding:20px 0px; 
     margin:0px auto;
     color:#FFF;
}

#home_brand_inner h1{
     width:100%;
     float:left;
     text-align:center;
     color:#656565;
     font-size:28px;
     font-weight:bold;
     text-transform:uppercase;
    font-family: 'Alatsi', sans-serif;
     float:left;
     padding:10px 0px;
}
.home_client_carosel{
     width:100%;
     height:auto;
     float:left;
     margin-top:20px;
}
#carousel div {
     text-align: center;
     width: 110px;
     padding:5px 0px;
     height: auto;
     float: left;
     position: relative;
}
#carousel div img {
     border: none;
     width:140px;
     margin:0px;
     height:auto !important;
}



/*INNER*/
#inner_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFF;
     border-bottom:8px solid #e7e7e7;
}

#inner_inner{
     width:1200px;
     min-height:500px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
}

#inner_breadcombmenu{
     width:100%;
     float:left;
     height:auto;
     margin-top:8px;
     margin-bottom:4px;
     text-align:center;
}

#inner_breadcombmenu ul {
     list-style:none;
     text-align: left;
}
#inner_breadcombmenu ul li {
     display: inline-block;
}

#inner_breadcombmenu ul li a {
     background:url(../images/bred.png) no-repeat center right;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:14px;
     text-decoration:none;
     display: block;
     padding: 1px 20px 1px 0px;
     color: #484848;
}
#inner_breadcombmenu ul li a:hover {
     color: #d72321;
}


#inner_contentrapper{
     width:74%;
     float:right;
     min-height:400px;
     height:auto;
     margin-bottom:15px;
     margin-top:15px;
}

#inner_productbg{
     width:100%;
     float:left;
     min-height:400px;
     height:auto;
     background:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
}

#inner_contentrapper h1{
     float:left;
     text-align:left;
     color:#d52321;
     font-size:24px;
     font-weight:bold;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     margin-left:2%;
     padding-bottom:10px;
     margin-bottom:30px;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}


/*PAGINATION*/


.page{
     float: right;
     margin: 0;
     padding: 0;
     font-size: 12px;
     margin-bottom:15px;
     font-family: 'Source Sans Pro', sans-serif;
}
.current{
     color: #FFF;
     padding:1px 7px;
     background:#db2523;
}
.button{
     padding:1px 7px ;
     text-decoration: none;
     display: block;
     font-size: 12px;
     float: right;
     margin-left:5px;
     color: #FFFFFF;	
     background:#535353;
}
.button:hover {
     color: #999999;	
}

/**/



select {
     display: none;
}
.select {
     float:right;
     position: relative;
     z-index: 99;
     margin: 0px 2.5% 20px 0px;
     width: 260px;
}
.select .active-option {
     background: #535353 url(../images/color.jpg) no-repeat right;
     color: #fff;
     -webkit-transition: all 0.3s 0s ease-in-out;
     -moz-transition: all 0.3s 0s ease-in-out;
     -ms-transition: all 0.3s 0s ease-in-out;
     -o-transition: all 0.3s 0s ease-in-out;
     transition: all 0.3s 0s ease-in-out;
     cursor: pointer;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}
.select .active-option:before {
     content: "";
     width: 0;
     height: 0;
     border-right: 7px solid transparent;
     border-left: 7px solid transparent;
     border-top: 8px solid #fff;
     position: absolute;
     right: 10px;
     top: 50%;
     margin-top: -5px;
}
.select .active-option:hover {
     background: #434343 url(../images/color.jpg) no-repeat right;
}
.select .option-list {
     color: #fff;
}
.select .option-list li {
     background: #535353;
     margin-top: 0px;
}
.select .option-list li:hover {
     background: #616161;
}
.active-option {
     padding: 10px;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     display: block;
}
.option-list {
     width: 100%;
     position: absolute;
     visibility: hidden;
     overflow-y: scroll;
     overflow-x: hidden;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     top: 90%;
     opacity: 0;
     filter: alpha(opacity=0);
}
.option-list li {
     width: 100%;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     cursor: pointer;
}
.option-list.show {
     -webkit-transition: all 0.3s 0s ease-in-out;
     -moz-transition: all 0.3s 0s ease-in-out;
     -ms-transition: all 0.3s 0s ease-in-out;
     -o-transition: all 0.3s 0s ease-in-out;
     transition: all 0.3s 0s ease-in-out;
     top: 100%;
     opacity: 1;
     filter: alpha(opacity=100);
     visibility: visible;
}

/**/

.productcat_listdes{
     width:100%;
     height:60px;
     float:left;
     background:#f0f0f0;
     color:#343434;
     padding-top:10px;
}
.productcat_name{
     color:#343434;
     float:left;
     margin-top:2px;
     margin-left:6%;
     font-size:20px;
     line-height:20px;
     text-align:left;
}

.productcat_count{
     padding:6px 0px;
     width:50%;
     float:left;
     background:#db2523;
     font-size:15px;
     text-align:left;
     text-decoration:none;
     color:#FFF;
     padding-left:5%;
}
.productcat_viewall{
     width:45%;
     float:right;
     background:#db2523;
     font-size:15px;
     text-align:center;
     text-decoration:none;
     color:#FFF;
     padding:6px 0px;
}
.productcat_viewall:hover{
     color:#000;
}



/*INNER*/
#profeaters_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFF;
}

#profeaters_inner{
     width:1200px;
     min-height:300px;
     height:auto;
     padding:20px 0px; 
     margin:0px auto;
     color:#FFF;
}
.hinner_tabbg{
     width:50%;
     height:auto;
     float:left;
     margin-bottom:15px;
}

.related_productbg{
     width:45%;
     min-height:200px;
     float:right;
     margin-bottom:15px;
}

.resp-tabs-container ul {
     margin-left:20px;
     margin-top:5px;
     font-size:14px;
     color:#616161;
}
.resp-tabs-container ul li{
     list-style-image:url(../images/bullet2.png);
}
.specificationsbg{
     width:100%;
     height:auto;
     float:left;
     border:1px solid #999;
     border-bottom:none;
     background:url(../images/sep.jpg) repeat-y center top; 
     color:#616161 !important;
}
.specifications_head{
     width:42%;
     float:left;
     padding:12px 4%;
     font-weight:bold;
     font-size:16px;
     color:#333 !important;
     font-family: 'Source Sans Pro', sans-serif;
}

.specifications_des{
     width:42%;
     float:left;
     padding:5px 4%;
     font-size:13px;
     line-height:18px;
     text-align:left;
     color:#616161 !important;
}
.specifywrapper{
     float:left;
     width:100%;
     height:auto;
     border-bottom:1px solid #999;
}
/*.cart_notificationbg{
        width:98%;
        height:auto;
        background-color:rgba(13, 70, 120, .9);
        padding:10px 1%;
        position:fixed;
        top:0px;
        left:0px;
        color:#FFF;
        font-size:13px;
}
.notifi_close{
        color:#FFF;
        text-decoration:none;
        float:right;
}
.notifi_close:hover{
        color:#F00;
}*/
.loading{
     width:60%;
     float:left;
     text-align:center;
     padding:100px 0px;
}


#profeaters_inner h1{
     float:left;
     text-align:left;
     color:#656565;
     font-size:26px;
     text-transform:uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding:7px 0px;
     font-weight:bold;
     margin-bottom:10px;
     margin-top:0px;
     margin-left:4%;
}

.pro_realtedlist{
     float:left;
     width:100%;
}


#inner_individual{
     width:1200px;
     min-height:500px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
}

#inner_individual h1{
     width:100%;
     float:left;
     text-align:left;
     color:#d52321;
     font-size:24px;
     font-weight:bold;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding-bottom:10px;
     margin-top:20px;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}


#product_singledes{
     width:60%;
     height:auto;
     float:right;
     color:#6f6e6e;
     font-size:12px;
     font-family: 'Source Sans Pro', sans-serif;
     background:#FFF;
     padding:30px 0% 20px 0%;
}
#inner_individual h2{
     text-transform:uppercase;
     width:100%;
     float:left;
     text-align:left;
     color:#484848;
     font-size:26px;
     font-family: 'Alatsi', sans-serif;
     float:left;
     padding-bottom:10px;
     margin-bottom:15px;
     background:url(../images/boarder2.jpg) no-repeat bottom left;
}

.indproduct_name{
     width:100%;
     float:left;
     text-align:left;
     color:#535353;
     font-size:24px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     font-weight:bold;
     padding-bottom:15px;
     border-bottom:1px dotted #c7c7c7;
}

.indproduct_code{
     width:50%;
     float:left;
     text-align:left;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
}

.indproduct_stock{
     width:50%;
     float:right;
     text-align:right;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
}

.indproduct_des{
     width:100%;
     float:left;
     text-align:justify;
     color:#535353;
     font-size:14px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding-bottom:15px;
     margin-bottom:15px;
     border-bottom:1px dotted #c7c7c7;
}
.indproduct_brand{
     width:50%;
     float:right;
     text-align:left;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     margin-bottom:15px;
     border-bottom:1px dotted #c7c7c7;
}

.product_des_pricecartbg{
     width:50%;
     float:right;
     text-align:left;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding-bottom:15px;
     margin-bottom:15px;
}
.inerdes_formbg{
     float:left;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
}
.innercartfield{
     width:100px;
     background:#FFF;
     height:50px;
     padding:2px 5px;
     outline:none; 
     border:1px solid #c6c6c6; 
     color:#333;
     font-family: 'Droid Serif', serif;
     font-size:20px;
     text-align:center;
     margin-left:6px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}

.indproduct_calibration{
     width:50%;
     float:right;
     text-align:right;
     color:#535353;
     font-size:17px;
     font-family: 'Source Sans Pro', sans-serif;
     float:left;
     padding-bottom:15px;
     margin-bottom:15px;
     padding-top:10px;
     font-weight:bold;
}

.prodect_descart{
     background:#dc010f url(../images/product_cart.png) no-repeat center left 25px;
     padding:12px 10px;
     width:170px;
     min-height:32px;
     text-align:center;
     padding-left:35px;
     color:#FFF;
     text-decoration:none;
     border:none;
     float:right;
     margin-left:15px;
     font-size:15px;
     text-shadow: 2px 1px 0px #b1010b;
     cursor:pointer;
     font-family: 'Source Sans Pro', sans-serif;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}
.prodect_descart:hover{
     text-shadow: 2px 1px 0px #000000;
     background:#535353 url(../images/product_cart.png) no-repeat center left 25px;
}


.product_singleimage{
     width:350px;
     height:auto;
     float:left;
     /*     border:1px solid #d8d8d8;*/
     background:#FFF;
     padding:5px;
     margin:30px 0% 20px 3%;
}
.proimagdis img{
     width:100% !important;
}
.proimagdis{
     float:left;
     display:block;
     width:100%;
     border:1px solid #d8d8d8;
     margin-bottom: 20px;

}
/*Product logos*/
.prd_logos {
     float: left;width: 100%;
     text-align: center;
}
.prd_logos img{
     /*height: 50px;*/
}
/*Product logos*/
.proimagdis_2{
     float:left;
     display:none;
}




/*CONTACT*/
#sectionb_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFFFFF;
}

#sectionb_inner{
     width:1200px;
     min-height:100px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
}

#sectionb_inner h1{
     float:left;
     text-align:center;
     color:#d82422;
     font-size:30px;
     width:100%;
     padding:12px 0px;
     text-transform:uppercase;
     font-family: 'Alatsi', sans-serif;
}
#sectionb_inner h2{
     float:left;
     text-align:left;
     color:#d82422;
     font-size:25px;
     width:100%;
     padding:12px 0px;
     text-transform:uppercase;
     margin-top:20px;
    font-family: 'Alatsi', sans-serif;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}


/*#contact_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#333e50 url(../images/contactbuilging.jpg) repeat-x top center;
}*/

#contact_wrapper {
    width: 100%;
    float: left;
    height: auto;
    padding: 4px;
    margin: 0px;
    background: #333e50 url(../images/contactbuilging.jpg) repeat-x top center;
}
#contact_inner{
     width:1100px;
     min-height:310px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     color:#FFF;
     padding-top:120px !important;
}

.contact_addressbg{
     width:240px;
     height:300px;
     float:left;
     text-align:center;
     font-size:14px;
     color:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
     line-height:22px;
     position:relative;
}

#contact_inner h1{
     float:left;
     text-align:center;
     color:#FFFFFF;
     font-size:20px;
     font-weight:bold;
     width:100%;
     padding-bottom:10px;
     margin-bottom:10px;
     text-transform:uppercase;
     font-family: 'Alatsi', sans-serif;
     background:url(../images/conbg.jpg) no-repeat center bottom;

}
.viewmap{
     cursor:pointer;
     background:#c54242;
     color:#FFF;
     text-decoration:none;
     padding:6px 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.map_color{
     background:#5a9bd5;
}
.map_color2{
     background:#85bd52;
}

.viewmap:hover{
     padding:6px 30px;
     background:#727171;
}

#contact_inner p{
     font-size:14px;
     color:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
     line-height:22px;
     min-height:195px;
}

.contact_addressbg img{
     margin-bottom:15px;
     margin-top:5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}

.contact_addressbg:hover img{
     margin-bottom:20px;
     margin-top:0px;
}
.addboxmargin{
     margin-left:190px;
     margin-right:190px;
}



/*FORM*/
#contactform_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFFFFF;
}
#contactform_inner{
     width:1200px;
     min-height:300px;
     height:auto;
     padding:0px; 
     margin:20px auto;
     color:#FFF;
}

#contactform_inner h1{
     width:100%;
     float:left;
     text-align:left;
     color:#d52321;
     font-size:22px;
     font-family: 'Alatsi', sans-serif;
     float:left;
     margin-top:30px;
     padding-bottom:10px;
     margin-bottom:10px;
     margin-left:1%;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}
#contactform_inner h3{
     width:100%;
     float:left;
     text-align:left;
     color:#535353;
     font-size:18px;
    font-family: 'Alatsi', sans-serif;
     float:left;
     margin-left:1%;
     font-weight:bold;
     margin-top:20px;
}


#contactform_inner p{
     margin-left:1%;
     float:left;
     color:#000000;
     font-size:15px;
     font-family: 'Source Sans Pro', sans-serif;
}

#formbg{
     float:left;
     width:100%;
     margin-top:30px;
     padding-bottom:50px;
}


#formbg strong{
     color:#F00;
}
#formbg span{
     color:#F00;
     font-size:11px;
}

.field_label{
     width:31%;
     float:left;
     color:#656464;
     font-size:14px;
     font-family: 'Source Sans Pro', sans-serif;
     padding:0px 1%;
     min-height:90px;
}

.inputf{
     width:98%;
     height:35px;
     background:#FFF;
     border:1px solid #c9c9c9;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:13px;
     margin-top:8px;
     padding-left:2%;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.inputtextarea{
     resize:none;
     padding-top:10px;
     width:97%;
     height:80px;
     background:#FFF;
     border:1px solid #c9c9c9;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:13px;
     margin-top:8px;
     padding-left:2%;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}

.form_btn{
     cursor:pointer;
     float:right;
     border:none;
     background:#d72422;
     color:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
     padding:8px 35px;
     font-size:18px;
     font-weight:bold;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius:25px;
     margin-top:20px;
     margin-right:3%;
     border-bottom:2px solid #c01110 !important;
}
.form_btn:hover{
     background:#1b1b1b;
     border-bottom:2px solid #000000 !important;
}


.contact_panelbg{
     width:96%;
     float:left;
     margin-left:1%;
     margin-top:20px;
}


.addmore{
     float:right;
     color:#d72422;
     text-decoration:none;
     font-family: 'Source Sans Pro', sans-serif;
     margin-right:2%;
}


.quicksubbg{
     width:100%;
     float:left;
     color:#656464;
     margin-bottom:10px;
     font-size:14px;
}
.quicksub{
     width:18%;
     float:left;
     padding:0px 1%;
}

#horizontalTab ins{
     text-decoration:none;
     display:none;
}

.quickmatter{
     width:100%;
     float:left;
     margin-bottom:15px;

}


/*INNERS*/

#contentmatter_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#FFF;
}
#contentmatter_inner{
     width:1200px;
     min-height:310px;
     height:auto;
     padding:0px; 
     margin:20px auto;
}

.calibrationboxbg{
     margin:0% 1% 20px 1%;
     text-align:center;
     float:left;
     padding:1%;
     width:29%;
     height:auto;
     min-height:300px;
     background:#FFF url(../images/caliboxbg.jpg) repeat-x bottom left;
     border:1px solid #CCC;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}
.caliboximage{
     width:100%;
     height:210px;
     float:left;
     background:#CCC;
     overflow:hidden;
}

.caliboximage img{
     width:100%;
     min-height:210px;
}

#contentmatter_inner h4{
     width:100%;
     float:left;
     text-align:left;
     color:#d72422;
     font-size:22px;
     font-family: 'Alatsi', sans-serif;
     margin-top:10px;
     padding-bottom:3px;
     border-bottom:1px solid #CCC;
     margin-bottom:10px;
     line-height:25px;
}

.caboxdes{
     float:left;
     color: #000000;
     font-size:17px;
     line-height:20px;
     font-family: 'Source Sans Pro', sans-serif;
     height:145px;
     text-align:left;
}
.calimore{
     text-decoration:none;
     cursor:pointer;
     border:none;
     background:#d72422;
     color:#FFF;
     float:right;
     font-family: 'Source Sans Pro', sans-serif;
     padding:5px 20px;
     font-size:14px;
     text-transform:uppercase;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius:25px;
     margin-bottom:10px;
     margin-right:3%;
     border-bottom:2px solid #c01110 !important;
}
.calimore:hover{
     background:#1b1b1b;
     border-bottom:2px solid #000000 !important;
}

#servicetmatter_inner{
     width:1200px;
     min-height:310px;
     height:auto;
     padding:0px; 
     margin:0px auto;
}

#servicetmatter_inner p{
     color:#000000;
     font-size:15px;
     margin-bottom:10px;
     font-family: 'Source Sans Pro', sans-serif;
     text-align:justify;
}

#servicetmatter_inner h5{
     font-family: 'Alatsi', sans-serif;
     color:#d92523;
     font-size:20px;
     margin-bottom:5px;
     width:100%;
     float:left;
     margin-top:10px;
}


.calibradesimg{
     float:left;
     margin-right:30px;
     width:360px;
     border:2px solid #CCC;
}

#servicetmatter_inner nav {
     display: block;
     text-align:right;
}
#servicetmatter_inner nav ul li {
     display: inline;
} 
#servicetmatter_inner nav ul {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 15px;
} 
#footer_inner nav ul li {
     display: inline;
} 
#servicetmatter_inner nav ul li a {
     font-weight:bold;
     font-size:16PX;
     text-decoration: underline;
     color: #000000;
     padding:0px 2px;
     margin-left:40px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
#servicetmatter_inner nav ul li a:hover {
     color:#d72422;
}  



#about_inner{
     width:1200px;
     min-height:110px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     text-align:center;
}

.welcome_content{
     width:100%;
     float:left;
     font-size:16px;
     font-family: 'Source Sans Pro', sans-serif;
     line-height:30px;
     color:#383737;
     margin-bottom:40px;
    /* margin-left:10%;*/
}

#about_inner h3{
     width:100%;
     float:left;
     text-align:center;
     color:#d72422;
     font-size:22px;
     font-family: 'Alatsi', sans-serif;
     text-transform:uppercase;
     font-weight:bold;
     margin-bottom:20px;
}
#about_inner h3 span{
     font-weight:bold;
     color:#656565;
}


#about_inner h1{
     float:left;
     text-align:center;
     color:#d82422;
     font-size:30px;
     width:100%;
     padding:12px 0px;
     text-transform:uppercase;
     font-family: 'Alatsi', sans-serif;
}
#about_inner p{
     margin-bottom:10px;
}

.about_imagebg{
     width:100%;
     float:left;
     background:url(../images/aboutbg.jpg) no-repeat top right;
     background-size:50% 100%;
}
.aboutlogo{
     margin-bottom:20px; 
     margin-top:30px;
}

.about_imagebgb{
     width:100%;
     float:left;
     background:url(../images/aboutbg2.jpg) no-repeat top center;
     padding:30px 0px;
}

#about_teamimage{
     width:100%;
     float:left;
     height:auto;
     position: relative;
}
#about_teamimage img{
     width:100%;
     position:relative;
}
.about_teamimagedot {
     background:url(../images/pattern.png) repeat;
     z-index: 2;
     position: absolute;
     top:0px;
     width: 100%;
     height:100%;
     text-align:center;
}

#about_teamimage h1{
     color:#FFFFFF;
     font-size:25px;
     padding:20px 40px;
     text-transform:uppercase;
    font-family: 'Alatsi', sans-serif;
     background-color:rgba(226, 1, 15, .6);
     font-weight:bold;
     position:absolute;
     bottom:20px;
     margin-left:43%;
}




#innersublink_wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     background:#f4f4f4;
}
#innersublink_inner{
     width:1200px;
     min-height:100px;
     height:auto;
     padding:0px; 
     margin:50px auto;
     text-align:center;
}

#innersublink_inner img{
     margin:0px 20px;
     -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
     -o-transition:all 0.5s ease-in-out;
     -ms-transition:all 0.5s ease-in-out;
     transition:all 0.5s ease-in-out;	
}

#innersublink_inner img:hover{
     -moz-box-shadow: 0px 0px 12px #4d4c4d;
     -webkit-box-shadow: 0px 0px 12px #4d4c4d;
     box-shadow: 0px 0px 12px #4d4c4d;}




#contentmatter_inner h1{
     float:left;
     text-align:left;
     color:#d52321;
     font-size:20px;
     font-weight:normal;
     font-family: 'Alatsi', sans-serif;
     float:left;
     width:100%;
     padding-bottom:10px;
     margin-bottom:10px;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}

#contentmatter_inner span{
     color:#000;
     float:left;
     width:100%;
     font-style:italic;
     margin-bottom:10px;
     font-size:16px;
}


#contentmatter_inner p{
     font-family: 'Source Sans Pro', sans-serif;
     color:#000000;
     font-size:17px;
     line-height:22px;
     margin-bottom:20px;
}

.serviceimage{
     float:left;
     margin-right:30px;
     max-width:400px;
}


.serviceimageb{
     float:right;
     margin-left:30px;
     max-width:400px;
}



/*SECTION 3*/

#contentcart_inner{
     width:1200px;
     min-height:310px;
     height:auto;
     padding:0px; 
     margin:20px auto;
}


#cart_inner{
     width:100%;
     float:left;
     padding-bottom:30px;
}

.innercarttittlebg{
     width:98%;
     float:left;
     padding:1%;
     background:#535353;
     color:#FFF;
     font-size:15px;
     font-family: 'Source Sans Pro', sans-serif;
}
.cart_name{
     width:45%;
     float:left;
}
.cart_price{
     width:15%;
     float:left;
     text-align:center;
}
.cart_qty{
     width:15%;
     float:left;
     text-align:center;
}
.cart_total{
     width:15%;
     float:left;
     text-align:center;
     visibility:hidden;
}
.cart_edit{
     width:10%;
     float:left;
     text-align:center;
}




.innercarwhitebg{
     width:100%;
     float:left;
     padding:0%;
     background:#FFFFFF;
     height:auto;
}
.innercarwhitborder{
     width:98%;
     float:left;
     padding:1% 1%;
     height:auto;
     min-height:20px;
     margin-bottom:1px;
     border-bottom:1px solid #d0d0d0;
}
.cartitem_name{
     width:45%;
     float:left;
}
.cartitem_price{
     width:15%;
     height:60px;
     float:left;
     text-align:center;
     color:#000000;
     font-size:20px;
     padding-top:15px;
}
.cartitem_price img{
     max-width:70%;
}
.cartitem_qty{
     width:15%;
     float:left;
     text-align:center;
     padding-top:25px;
}
.cartitem_total{
     width:15%;
     float:left;
     text-align:center;
     color:#393838;
     font-size:22px;
     padding-top:30px;
     visibility:hidden;
}
.cartitem_edit{
     width:10%;
     float:left;
     text-align:center;
     padding-top:30px;
}

.cartitem_edit img{
     opacity: 1.0;
     filter: alpha(opacity=100); /* For IE8 and earlier */
}
.cartitem_edit img:hover{
     opacity: 0.6;
     filter: alpha(opacity=60); /* For IE8 and earlier */
}


.cart_imagebg{
     width:121px;
     height:90px;
     float:left;
     background:#FFF;
     text-align:center !important;
     overflow:hidden;
     margin-right:5%;
}
.cart_imagebg img{
     max-height:90px;
     min-height:90px;
     height:100%;
     width:auto;
     max-width:100%;
}

.namewrapper {
     display: table-cell;
     width: 90%;
     height: 90px;
     text-align: left;
     vertical-align: middle;
     color:#666666;
     font-size:14px;

}

.namewrapper span{
     font-size:18px !important;
     color:#d72422 !important;
     font-family: 'Source Sans Pro', sans-serif;
     font-style:normal !important;
}
.cartqty{
     width:50%;
     margin:0px auto;
     background:#FFF;
     height:45px;
     padding:2px 0%;
     border:none;
     color:#333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:13px;
     text-align:center;
     font-size:20px;
     border:1px solid #c9c9c9;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}

.innercarwhitebg small{
     display:none;
}
.innercargrandtotalbg{
     width:96%;
     float:left;
     padding:8px 2%;
     background:#535353;
     color:#FFF;
     font-size:18px;
     text-align:right;
     font-family: 'Source Sans Pro', sans-serif;
}

.cart_bottommenubg{
     width:100%;
     height:auto;
     float:left;
     margin-top:10px;
}
.cart_proceed{
     text-decoration:none;
     cursor:pointer;
     float:right;
     border:none;
     background:#d72422;
     color:#FFF;
     font-family: 'Source Sans Pro', sans-serif;
     padding:8px 30px;
     font-size:16px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius:25px;
     border-bottom:2px solid #c01110 !important;
}
.cart_proceed:hover{
     background:#1b1b1b;
     border-bottom:2px solid #000000 !important;
}


.cart_multipleaddress{
     font-family: 'Source Sans Pro', sans-serif;
     color:#e2010f;
     text-decoration:none;
     float:left;
     margin-right:40px;
     font-size:14px;
     padding:5px 0px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.cart_multipleaddress:hover{
     color:#333333;
     text-decoration:underline;
}

.altcolor{
     background:#f4f2f2;
}


/*LOGIN*/

#login_inner{
     width:100%;
     float:left;
}


.login_customersbg{
     width:40%;
     float:left;
     height:auto;
}
.login_loginbg{
     width:40%;
     float:left;
     height:auto;
}
.login_or{
     width:20%;
     float:left;
     min-height:200px;
     background:url(../images/or.jpg) no-repeat center;
}


.loginfield{
     width:100%;
     float:left;
     margin-bottom:10px;
}

#login_inner h1{
     font-family: 'Alatsi', sans-serif;
     color:#e2010f;
     font-size:18px;
     text-transform:uppercase;
     float:left;
     width:100%;
     margin-bottom:10px;
     padding-bottom:10px;
     background:url(../images/boarder.jpg) no-repeat bottom left;

}
#login_inner p{
     font-size:14px;
     color:#666;
     text-align:justify;
}

.loginfield strong{
     color:#F00;
}

.logininput{
     width:60%;
     float:right;
     background:#FFFFFF;
     height:40px;
     padding:2px 2.5%;
     outline:none; 
     border:1px solid #dbdbdb; 
     color:#333;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:13px;
     border:1px solid #c9c9c9;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}

.loginfield label{
     font-size:14px;
     color:#797979;
     font-weight:normal;
}


.registerbg{
     width:100%;
     float:left;
     height:auto;
     border-top:1px solid #CCC;
     padding-top:20px;
}



.createacc{
     text-decoration:none;
     cursor:pointer;
     float:right;
     border:none;
     background:#d72422;
     color:#FFF;
     margin-top:10px;
     font-family: 'Source Sans Pro', sans-serif;
     padding:8px 25px;
     font-size:16px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius:25px;
     border-bottom:2px solid #c01110 !important; 
}
.createacc:hover{
     background:#1b1b1b;
     border-bottom:2px solid #000000 !important;
}

.forget_inner{
     width:100%;
     float:left;
     height:auto;
}
.forget_loginbg{
     width:500px;
     height:auto;
     margin:0px auto;
}


/*MY ACOUNT*/

.contenttabbg{
     width:100%;
     height:auto;
     float:left;
}


.myaccound_title{
     width:100%;
     float:left;
     padding-bottom:5px;
     text-transform:uppercase;
     color:#d72422;
     font-size:20px;
     margin-bottom:15px;
     font-family: 'Source Sans Pro', sans-serif;
     background:url(../images/boarder.jpg) no-repeat bottom left;
}
.acc_informationbg{
     border:1px solid #CCC;
     background:#FFF;
     width:94%;
     padding:3% 3%;
     margin-top:10px;
     height:auto;
     min-height:100px;
     float:left;
}

.myaccound_caption{
     width:100%;
     float:left;
     padding-bottom:5px;
     text-transform:uppercase;
     color:#000000;
     font-size:15px;
     margin-bottom:5px;
     font-family: 'Source Sans Pro', sans-serif;
}
.dashboardgray{
     float:left;
     width:96%;
     background:#f6f6f6;
     padding:1.5% 2%;
     color:#797979;
     margin-bottom:20px;
}

.editico{
     opacity: 1.0;
     filter: alpha(opacity=100); /* For IE8 and earlier */
}
.editico:hover{
     opacity: 0.6;
     filter: alpha(opacity=60); /* For IE8 and earlier */
}


.accinfo_informationbg{
     width:46%;
     height:auto;
     float:left;
}
.accinfomar{
     margin-bottom:20px;
}

.add_bookfield{
     width:46%;
     float:left;
     height:auto;
}


.add_bookfield label{
     font-size:14px;
     color:#797979;
     font-weight:normal;
}


.order_date{
     width:25%;
     float:left;
     text-align:left;
}
.order_1d{
     width:25%;
     float:left;
     text-align:center;
}
.order_total{
     width:25%;
     float:left;
     text-align:center;
}
.order_details{
     width:25%;
     float:left;
     text-align:center;
}

.orderitem_date{
     width:25%;
     float:left;
     text-align:left;
     font-size:14px;
     padding:15px 0px;
}
.orderitem_1d{
     width:25%;
     float:left;
     text-align:center;
     font-size:14px;
     padding:15px 0px;
     color:#e2010f;
}
.orderitem_total{
     width:25%;
     float:left;
     text-align:center;
     font-size:16px;
     padding:15px 0px;
}
.orderitem_details{
     width:25%;
     float:left;
     text-align:center;
     font-size:16px;
     padding:15px 0px;
}

.orderitem_details a{
     text-decoration:none;
     font-size:15px;
     color:#666;
}
.innerordertittlebg{
     width:98%;
     float:left;
     padding:1%;
     background:#535353;
     color:#FFF;
     font-size:14px;
     font-family: 'Source Sans Pro', sans-serif;
}

.innercarwhitebg summary{
     display:none;
}
#product_detalstablebg summary{
     display:none;
}


.inner_contact_left p{
     color:#666;
     display:block;
     float:left;
     text-align:left;
     font-size:14px;
     width:100%;
     margin:10px 0 5px 0 ;
     color:#707070;
     line-height:25px;
     font-family: 'Source Sans Pro', sans-serif;
}

.inner_contact_left p img{
     margin:-3px 8px 0 0;

}


#orderdetail_inner{
     width:1200px;
     min-height:310px;
     height:auto;
     padding:0px; 
     margin:20px auto;
}

.dialog_dateand_id{
     width:50%;
     float:left;
     color:#d72422;
     font-size:20px;
     padding:10px 0px;
     margin-bottom:20px;
     text-transform:uppercase;
     font-family: 'Source Sans Pro', sans-serif;
}

#orderdetail_inner h2{
     color:#464646;
     margin: 0;
     padding: 8px 2.5%;
     font-size: 1em;
     font-weight: 300;
     background:#e0e0e0;
     width:95%;
     float:left;
     word-break:break-all;
     line-height:18px !important;
}
#orderdetail_inner h5{
     color:#464646;
     margin: 0;
     padding: 8px 2.5%;
     font-size: 1em;
     font-weight: 300;
     background:#FFFFFF;
     width:95%;
     float:left;
     word-break:break-all;
     line-height:18px !important;
}
.orderlright{
     text-align:right;
     float:right;
}

.empty_message{
     width:94%;
     padding:2% 2% 4% 2%;
     background:#efeff3;
     color:#000;
     font-family: 'Source Sans Pro', sans-serif;
     font-size:20px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;

}

/*Calibration */


.cali_ser_right{
     float:right;
     width:75%;
     height:auto;
     min-height:200px;
     padding-bottom:40px;
}
.cali_ser_left{
     float:left;
     width:21%;
     height:auto;
     min-height:200px;
     padding-bottom:40px;
}

.caliright_bannerbg{
     width:100%;
     min-height:300px;
     float:left;
     background:#241913;
     border-top:1px solid #241913;
     border-bottom:2px solid #e22328;
     margin-bottom:30px;
}
.caliright_bannerimage{
     width:60%;
     min-height:300px;
     float:left;
     background:#241913;
     overflow:hidden;
}
.calibannerimage{
     float:left;
     min-height:300px;
     max-height:300px;
     min-width:100%;
}

.cali_bannertext{
     width:30%;
     float:left;
     font-family: 'Source Sans Pro', sans-serif;
     color:#FFF;
     font-size:20px;
     background:url(../images/calibannertext.jpg) no-repeat top left;
     margin-top:40px;
     padding-left:5%;
     line-height:24px;
}

#servicetmatter_inner h4{
     color:#000000;
     font-size:15px;
     margin-bottom:10px;
     font-family: 'Alatsi', sans-serif;
     text-align:justify;
}

#servicetmatter_inner h1{
     width:97%;
     float:left;
     font-family: 'Alatsi', sans-serif;
     color:#333;
     font-size:20px;
     background:url(../images/calibannertext.jpg) no-repeat top left;
     margin-top:10px;
     padding-left:3%;
     text-transform:uppercase;
     margin-bottom:20px;
}


.calilistbg{
     clear: both;
     -moz-column-count: 2;
     -moz-column-gap: 20px;
     -webkit-column-count: 2;
     -webkit-column-gap: 20px;
     column-count: 2;
     column-gap: 20px;
     margin: 20px auto;
     position: relative;
     width: 100%;
     z-index: 9;
     padding-top:20px;
}

.calilistbg div {
     display: inline-block;
     list-style: none;            
     margin-bottom: 20px;
     width: 100%;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
.calilistbg div h3{
     color:#000000;
     font-size:20px;
     float:left;
     width:100%;
     text-align:left;
     margin-top:10px;
     margin-bottom:15px;
    font-family: 'Alatsi', sans-serif;
}

.calilistbg div ul {
     margin-top:5px;
     font-size:14px;
     color:#616161;
     margin-left:7%;
     float:left;
}
.calilistbg div ul li{
     list-style-image:url(../images/bullet2.png);
     margin-bottom:2px;
     padding-bottom:4px;
     clear:both;
     float:left;
     font-size:15px;
}



ul.calileft{
     float:left;
     list-style:none;
     width:100%;
     margin-top:10px;
}

ul.calileft li a{
     font-family: 'Source Sans Pro', sans-serif;
     font-size:16px !important;
     line-height:26px;
     padding:3px 0px;
     border-left:10px solid #FFF;
     padding-left:3%;
     margin-bottom:1px;
     color:#000;
     text-decoration:none;
     width:94%;
     float:left;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}

ul.calileft li a:hover{
     background:#e9e9e9;
     border-left:10px solid #F00;
}

#servicetmatter_inner .active{
     background:#e9e9e9;
     border-left:10px solid #F00 !important;
}







.caliinnerpage_top{
     width:100%;
     float:left;
     border-top:3px solid #000;
     padding-top:20px;
}

.caliinnerpage_half{
     width:50%;
     float:right;
}
.imagecali{
     float:left;
     margin-top:20px;
     width:45%;
}

.caliinner ul {
     margin-top:5px;
     font-size:14px;
     color:#616161;
     margin-bottom:10px;
     margin-left:5%;
     float:left;
     width:95%;
}
.caliinner ul li{
     list-style-image:url(../images/bullet2.png);
     margin-bottom:2px;
     padding-bottom:4px;
     clear:both;

}



ul.about{
     font-size:14px;
     color:#616161;
     float:left;
     text-align:left;
     width:90%;
     list-style:none;
     margin-left:10%;
     margin-bottom:10px;
     margin-top:5px;

}
ul.about li{
     list-style-image:url(../images/bullet2.png);
     line-height:25px;
     font-size:14px;
}
.welcome_whychoosebg{
     width:650px;
     float:left;
     font-size:16px;
     font-family: 'Source Sans Pro', sans-serif;
     line-height:30px;
     color:#383737;
     margin-left:10%;
}



.aboutcer{
     max-width:100%;
     float:left;
}

.calidownload{
     text-decoration:none;
     color:#d62321;
     font-weight:bold;
}


.calidownload_cer{
     float:left;
     min-height:70px;
     text-align:right;
     font-size:18px; 
     font-weight:bold;
}


.calidownload_cer2{
     float:left;
     min-height:70px;
     text-align:right;
     font-size:18px; 
     font-weight:bold;
     margin-right:5%;
}









/*Calibration*/

/**/
.pdfdownload:hover{
     text-decoration:underline;
     color: #616161;
}
.pdfdownload{
     text-decoration:none;
     color: #0033CC;
     font-size: 14px;
}
/**/

.product_listbrand{
     width:100%;
     height:50px;
     float:left;
     background:#FFFFFF;
     text-align:center;
}
.brandwrapper{
     width:100%;
     float:left;
     min-height:100px;
     height:auto;
     color:#656464 !important;
}
.brandbanner{
     float:left;
     width:100%;
}

.brandwrapper ul {
     margin-top:5px;
     font-size:14px;
     color:#656464;
     margin-left:5%;
     float:left;
     font-size: 15px;
     width:95%;
}
.brandwrapper ul li{
     list-style-image:url(../images/bullet2.png);
     margin-bottom:2px;
     padding-bottom:4px;
     font-size: 15px;
}



/*NEWS*/

#homenewsbg{
     float:right;
     width:29%;
     margin-top:10px;
     min-height:100px;
     height:auto;
     background:#FFF;
     padding:5px 1.5% 10px 1.5%;
}

.homenewsbg{
     width:100%;
     float:left;
     margin-bottom:15px;
     color: #3e3e3e;
    font-family: 'Source Sans Pro', sans-serif;
     font-size: 13px;
     text-align:justify;
     line-height:18px;

}
.newsmore{
     text-decoration:none;
     color:#e20412;
     font-size:13px;
     float:right;
     text-align:right;
}

.newsmore:hover{
     color: #000;
}
.homenewsdate{
     float:left;
     width:94%;
     color:#2b80b1;
     background:url(../images/newsicon.jpg) no-repeat left center ;
     padding-left:6%;
     margin-bottom:5px;
}
#hwelcome_inner h5{
     float:left;
     width:100%;
     color: #21272a;
     font-family: 'Alatsi', sans-serif;
     font-size: 14px;
     font-weight:bold;
}
.news{
     height:215px; 
     padding-bottom:20px;
     overflow: hidden; 
     width: 100%;
     max-width:350px; 
}
ul#marquee_1 li{
     padding:5px 0px;
     height:auto; 
     min-height:80px;
     color:#373737;
     font-size:13px;
     line-height:20px;
     display:block;
     max-width:350px; 
}




.newsimage{
     width:22%;
     height:auto;
     max-height:200px;
     float:left;
     background:#CCC;
     overflow:hidden;
     margin-bottom:10px;
}

.newsimage img{
     width:100%;
}
.newsimagedes{
     float:right;
     color:#656464;
     font-size:13px;
     line-height:18px;
     font-family: 'Source Sans Pro', sans-serif;
     height:auto;
     text-align:left;
     width:75%;
     min-height:140px;
}


.innernews_bg{
     margin:0% 0% 30px 0%;
     text-align:center;
     float:left;
     width:100%;
     height:auto;
     min-height:100px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
#contentmatter_inner h3{
     width:100%;
     float:left;
     text-align:left;
     color:#d72422;
     font-size:18px;
     font-family: 'Alatsi', sans-serif;
     padding-bottom:3px;
     border-bottom:1px solid #CCC;
     margin-bottom:10px;
     line-height:25px;
}

.innernews_date{
     position:absolute;
     z-index:99;
     font-size:13px;
     font-style:italic;
     color:#FFFFFF;
     font-family: 'Source Sans Pro', sans-serif;
     bottom:5px;
     right:5px;
     background-color:rgba(215,36,34,0.9);
     background-image:url(../images/date.png);
     background-repeat:no-repeat;
     background-position: top center left 10px;
     padding:5px 15px 5px 30px;
     text-align:right;
}
.newsdes_date{
     font-size:14px;
     color:#000000;
     font-family: 'Source Sans Pro', sans-serif;
     text-align:left;
     margin-bottom:15px;
}

.news_desimage{
     float:left;
     width:30%;
     margin-right:30px;
     margin-bottom:20px;
}

.vticker{
     width:100%;
     margin:10px 0 0 0%;
     font-size:12px;
     color:#676969;
     text-align:justify;
     min-height:255px;

}
.vticker ul{
     padding: 0;

}
.vticker li{
     list-style: none;
     padding: 10px 0px;
     height:105px;
     font-family:Arial, Helvetica, sans-serif;
     font-size:13px;
     border-bottom:1px solid #dfdfdf;
     line-height:20px;
}

.caroufredsel_wrapper{
     min-height:80px !important;
}


#home_shopbybrand{
     width:100%;
     height:auto;
     float:left;
     margin-top:10px;
     margin-bottom:20px;
     text-align:center;
}

#home_shopbybrand img{
     margin:0px 5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
}

#home_shopbybrand a{
     text-decoration:none;
}





/* -------------------------------  Media Query  ------------------------------- */

@media screen and (max-width: 1280px) {
     #home_inner{
          width:93%;}
     #hwelcome_inner{
          width:93%;}
     #home_brand_inner{
          width:93%;}
     #inner_inner{
          width:93%;}	
     #profeaters_inner{
          width:93%;}
     #inner_individual{	
          width:93%;}

     #sectionb_inner{
          width:93%;}	
     #contactform_inner{
          width:90%;}	
     #contentmatter_inner{
          width:93%;}	
     #servicetmatter_inner{
          width:93%;}	
     #about_inner{
          width:93%;}	
     #innersublink_inner{
          width:93%;}	
     #contentcart_inner{	
          width:93%;}	
     #orderdetail_inner{	
          width:93%;}	
     #home_prodectlistbg{
          min-height:840px;
     }
}
@media screen and (max-width: 1200px) {
     .welcomeinnerbg{
          width:32%;}
}
@media screen and (max-width: 1150px) {
     .haboutimg{
          width:30%;}
     #contact_inner{
          width:1000px;}
     .addboxmargin{
          margin-left:140px;	margin-right:140px;}






}

@media screen and (max-width: 1100px) {
     #home_prodectlistbg{
          width:30%;}
     #home_contentrapper{
          width:68%;	}
     #inner_contentrapper{	
          width:68%;	}

     .product_listview{
          font-size:12px;}
     .product_listcart{
          font-size:12px;}
     .product_name{
          font-size:14px;}


     .productcat_count{
          font-size:13px;}
     .productcat_viewall{
          font-size:13px;}

     .product_singleimage{
          width:33%;margin:30px 0% 20px 0%;}	

     .cali_ser_right{
          width:73%;}
     .cali_ser_left{
          width:23%;}		


}

@media screen and (max-width: 1050px) {


}
@media screen and (max-width: 1024px) {
     .haboutimg{
          display:none}

     .pro_dispaly{
          display:block !important;}	
     .product_listbg{
          width:45%;
          margin:0px 2.3% 20px 2.3%}

     #contact_inner{
          width:850px;}
     .addboxmargin{
          margin-left:64px;	margin-right:64px;}		

     .caliboximage{
          height:190px;}
     .caliboximage img{
          min-height:190px;}

     #innersublink_inner{
          width:85%;}		
     #innersublink_inner img{
          margin:0px 1%; width:45%}	
     .caboxdes{
          height:180px;}	

     .welcome_whychoosebg{
          margin-left:0%;}		
     .calidownload_cer2{
          margin-right:1%;}
     #welcome_wrapper{
          padding-top:20px;}
     .welcomeinnerbg{
          width:48%;}	
     #homenewsbg{
          width:45%;margin-top:0px;	margin-bottom:10px;}			

}
@media screen and (max-width: 1000px) {
     #home_prodectlistbg{
          width:32%;}
     #home_contentrapper{
          width:66%;}

     .product_listview{
          padding:5px 0px;}
     .product_listcart{
          padding:5px 0px;}

     #inner_contentrapper{	
          width:66%;	}

     .cali_ser_right{
          width:71%;}
     .cali_ser_left{
          width:25%;}					


}

@media screen and (max-width: 900px) {
     .haboutimg{
          width:40%; margin-top:90px;}
     #home_prodectlistbg{
          width:100%;min-height:40px;margin-top:10px; margin-bottom:10px; background:#FFF url(../images/menubg.jpg) repeat-x;}
     #home_prodectlistbg h2{
          background:none;text-align:left;width:auto;margin-left:2%;margin-top:0px;padding:9px 0px;margin-bottom:0px; color:#d72422;	}		
     #home_contentrapper{
          width:100%;margin-bottom:20px;margin-top:0px;}
     #home_productbg{
          min-height:100px; padding-bottom:20px;
     }
     #inner_contentrapper{	
          width:100%;margin-bottom:20px;margin-top:0px;}

     .pro_list{
          width:80%; margin-left:10%;	}	

     .indproduct_code{
          width:100%; padding-bottom:10px; border-bottom:1px dotted #c7c7c7; }	
     .indproduct_stock{
          width:100%; text-align:left; padding-top:10px;}


     #contact_inner{
          width:750px;}
     .addboxmargin{
          margin-left:14px;	margin-right:14px;}		

     #about_teamimage h1{
          font-size:22px;padding:15px 35px;margin-left:41%;}

     .caboxdes{
          min-height:150px;}	
     #sectionb_inner h1{
          font-size:25px;}

     .product_des_pricecartbg{
          width:100%;	padding-bottom:0px;margin-bottom:0px;}	
     .indproduct_calibration{
          width:100%; text-align:left; margin:0px; }	

     .caliright_bannerimage{
          width:100%;	min-height:200px;}
     .calibannerimage{
          float:left;	min-height:auto;max-height:auto;min-width:100%;height:auto;	}			
     .cali_bannertext{
          width:90%;margin-top:20px;padding-left:5%; margin-bottom:20px; font-size:16px;}	

     .cali_ser_right{
          width:68%;}
     .cali_ser_left{
          width:28%;}	

     .aboutcer{
          float:none;	}
     .calidownload_cer{
          min-height:50px;text-align:left;width:100%;font-size:16px; }
     .calidownload_cer2{
          min-height:50px;text-align:left;width:100%;font-size:16px; }	
     .newsimage{
          width:25%;}
     .newsimagedes{
          width:72%;	}		


}

@media screen and (max-width: 830px) {
     .hinner_tabbg{
          width:100%;}
     .loading{
          width:100%;}
     .related_productbg{
          width:80%;float:right;margin-right:10%;}

}

@media screen and (max-width: 800px) {
     .calibrationboxbg{
          width:45%;}
     #contentmatter_inner{
          width:650px; }	
     .welcome_content{
          width:90%;	margin-left:5%;}	
     .newsimage{
          width:30%;}
     .newsimagedes{
          width:67%;	}

}

@media screen and (max-width: 768px) {
     #home_brand_inner h1{
          font-size:25px;}

     .welcomeinnerbg{
          width:100%;}	
     .haboutimg{
          width:100%; margin-top:10px; display:block;}
     #hwelcome_inner{
          width:75%;}	

     .pro_list{
          width:90%; margin-left:5%;	}	

     #product_singledes{
          width:90%; margin-right:5%;	}

     .product_singleimage{
          width:80%;margin:30px 10%;}

     #contact_inner{
          width:98%;}		

     .contact_addressbg{
          width:32%;}	
     .addboxmargin{
          margin-left:2%;	margin-right:2%}	
     #contact_inner p{
          font-size:13px;line-height:18px;}
     .viewmap{
          font-size:11px;	padding:6px 20px;}	
     .viewmap:hover{
          padding:6px 25px;}	

     .field_label{
          width:48%;}	
     #contentmatter_inner{
          width:90%; }
     .about_imagebg{
          background-size:100% 100%;}	

     #about_teamimage h1{
          font-size:20px;padding:10px 30px;margin-left:38%; font-weight:normal;}								
     #sectionb_inner h1{
          font-size:22px;}


     .login_customersbg{
          width:100%;}
     .login_loginbg{
          width:100%;}
     .login_or{
          width:100%;min-height:140px;background:url(../images/orb.jpg) no-repeat center center;}	

     .myaccound_title{
          font-size:14px;}	

     .createacc{
          padding:6px 20px;font-size:14px;}
     .calilistbg{
          -moz-column-count: 1;
          -moz-column-gap: 0px;
          -webkit-column-count: 1;
          -webkit-column-gap: 0px;
          column-count: 1;
          column-gap: 0px;}	
     .cali_ser_right{
          width:62%;}
     .cali_ser_left{
          width:34%;}	
     #homenewsbg{
          width:97%;min-height:100px;}
}

@media screen and (max-width: 640px) {
     #hwelcome_inner{
          width:85%;}
     #home_productbg h1{
          font-size:20px;}

     .pro_list{
          width:95%; margin-left:2.5%;}	
     .related_productbg{
          width:100%;float:right;margin-right:0%;}

     #profeaters_inner h1{
          font-size:22px;margin-left:3%;}	

     #product_singledes{
          width:100%; margin-right:0%;	}

     .product_singleimage{
          width:90%;margin:10px 5%;}	



     .quicksub{
          width:30%;}	
     .quicksubbg{
          margin-bottom:10px;font-size:12px; border-bottom:1px solid #999; padding-bottom:20px;	}
     #horizontalTab ins{
          display:block;}
     .welcome_content{
          width:100%;	margin-left:0%;}

     #innersublink_inner{
          width:60%;}		
     #innersublink_inner img{
          margin:10px 0%; width:100%}	


     .innercarwhitborder{
          padding:0px; border:1px solid #eeeeee; margin-bottom:10px; background:#eeeeee;
     }
     .innercarttittlebg{
          display:none;}
     .innercarwhitebg small{
          display:block; margin-bottom:5px; color:#666 !important; font-size:16px !important;}	
     .cartitem_name{
          width:100%; background:#FFF; padding:20px 0px;}
     .cartitem_price{
          width:25%;height:90px;padding-top:10px;}
     .cartitem_qty{
          width:25%;height:90px;padding-top:10px;}
     .cartitem_total{
          width:25%;height:90px;padding-top:10px;}
     .cartitem_edit{
          width:25%;height:90px;padding-top:10px;}
     .innercargrandtotalbg{
          font-size:15px; width:94%;}
     .cart_proceed{
          width:98%; padding:8px 0px; text-align:center; margin-right:2%;}		
     .altcolor{
          background:#eeeeee;}	
     .cartitem_edit img{
          margin-top:13px;}

     .createacc{
          padding:5px 20px;font-size:13px;}				

     .orderpadding{
          width:95.5%; padding:0px 2%;}
     .orderlright{
          text-align:left;float:left;	width:100%;	}
     .orderlleft{
          text-align:left;float:left;	width:100%;	}

     .caliinnerpage_half{
          width:100%;	}
     .imagecali{
          margin-top:10px;width:100%; margin-bottom:10px;	}

     .welcome_whychoosebg{
          width:100%;float:left;}
     .newsimage{
          width:40%;}
     .newsimagedes{
          width:57%;	}

}

@media screen and (max-width: 603px) {
     .pro_list{
          float:none; margin:0px auto;width:300px;}
     .product_listbg{
          width:99%;margin:5px 0%;}
     #sectionb_inner h1{
          font-size:20px;}
     .calidownload_cer{
          min-height:50px;text-align:left;width:100%;font-size:14px; }
     .calidownload_cer2{
          min-height:50px;text-align:left;width:100%;font-size:14px; }	


}

@media screen and (max-width: 568px) {
     #hwelcome_inner{
          width:90%;}
     #home_prodectlistbg h2{
          font-size:16px;	}

     #contact_inner{
          width:250px;}	
     .contact_addressbg{
          width:100%;
          height:auto; margin-bottom:50px;}	
     .addboxmargin{
          margin-left:0%;	margin-right:0%}			
     #contact_inner p{
          height:auto; min-height:100px; margin-bottom:20px;}

     .field_label{
          width:98%;}

     .calibrationboxbg{
          width:96%; margin-left:0%; margin-right:0%; padding:2%}	
     #contentmatter_inner{
          width:350px; }	

     #about_teamimage h1{
          font-size:18px;padding:8px 30px;margin-left:35%;bottom:10px;}			

     .caboxdes{
          height:auto; margin-bottom:20px;}

     .calibradesimg{
          margin-right:0px;width:100%;border:none;}	
     #servicetmatter_inner nav ul {
          font-size: 13px;} 
     #servicetmatter_inner nav ul li a {
          font-weight:normal;margin-left:20px;}	
     .serviceimage{
          margin-right:0px;max-width:100%; min-width:100%;}
     .serviceimageb{
          margin-left:0px;max-width:100%; min-width:100%;}	
     .caboxdes{
          min-height:100px;}	
     .innernews_bg{
          width:100%; margin-left:0%; margin-right:0%; padding:0%}	

     .news_desimage{
          width:100%;margin-right:0px;}	
     .newsimage{
          width:100%;}
     .newsimagedes{
          width:100%;}
}

@media screen and (max-width: 520px) {
     #hwelcome_inner h1{
          font-size:24px;line-height:25px;}

     .quicksub{
          width:45%;}	

     #innersublink_inner{
          margin:30px auto;width:70%;}

     .forget_loginbg{
          width:100%;}
     .cali_ser_right{
          width:100%;}
     .cali_ser_left{
          width:100%;}
     .calibannerimage{
          min-height:none;max-height:none;height:auto !important;min-width:100%;width:100% !important;}	
     .caliright_bannerimage{
          min-height:100px;height:auto;
          overflow:visible;}	

     .newsimage{
          width:100%;}
     .newsimagedes{
          width:100%;	}

}
@media screen and (max-width: 460px) {
     #home_brand_inner h1{
          font-size:22px;}
     #hwelcome_inner p{
          font-size:14px; line-height:22px;}	

     .related_productbg{
          width:80%;float:right;margin-right:10%;}
     #profeaters_inner h1{
          font-size:20px;margin-left:0%;}	

     #contentmatter_inner{
          width:80%; }
     .calimore{
          padding:4px 20px;font-size:12px;}			
     .aboutlogo{
          width:100%;}


     .accinfo_informationbg{
          width:100%;}	
     .add_bookfield{
          width:100%;}	

     .innerordertittlebg{
          display:none;}	
     .innercarwhitebg summary{
          display:block; height:30px;  color:#666 !important; font-size:14px !important;width:50%;float:left;}
     .orderitem_date{
          width:50%;height:30px;padding:0px 0px; text-align:right;}
     .orderitem_1d{
          width:50%;height:30px;padding:0px 0px; text-align:right;}
     .orderitem_total{
          width:50%;height:30px;padding:0px 0px; text-align:right;}
     .orderitem_details{
          width:100%;text-align:right;}	
     .vticker li{
          min-height:130px;}
     .vticker{
          min-height:300px;}	
}

@media screen and (max-width: 360px) {
     .pro_list{
          float:left;width:94%; margin-left:3%;}
     .related_productbg{
          width:90%;float:right;margin-right:5%;}	

     .quicksub{
          width:98%;}

     #about_teamimage h1{
          font-size:14px;padding:4px 20px;}

     #innersublink_inner{
          margin:20px auto;width:80%;}
     #servicetmatter_inner nav ul li a {
          border-bottom:none;font-weight:normal;margin-left:20px; float:left; width:91%; text-decoration:underline; }
     #servicetmatter_inner nav ul li a:hover {
          border:none;}


     .cartitem_price{
          width:50%; }
     .cartitem_qty{
          width:50%;}
     .cartitem_total{
          width:50%;}
     .cartitem_edit{
          width:50%;}	

     .createacc{
          padding:3px 20px;font-size:12px;}								

}

@media screen and (max-width: 320px) {
     #home_productbg h1{
          line-height:20px;margin-bottom:0px;margin-top:10px;width:90%;}
     .home_view{
          margin-right:4%;margin-top:0px;font-size:12px;}

     .select {
          margin: 0px 2.5% 20px 0px;  	width: 95%;}
     .related_productbg{
          width:100%;float:right;margin-right:0%;}
     #contact_inner{
          width:90%;}	
     .logininput{
          width:96%;float:left;	}

}

@media screen and (max-width: 240px) {


}